# ignore all
*

# except
!.gitignore

!OS
!OS/crotsf/
!OS/crotsf/src/
!OS/crotsf/include/
!OS/crotsf/include/crotsfINS_ROT*
!OS/crotsf/include/crotsfINS_OPTI1.tsfx
!OS/crotsf/include/crotsfINS_POL.tsfx

!OS/croseq/
!OS/croseq/src/
