# ignore all
*

# except
!.gitignore

!OS
!OS/crotsf/
!OS/crotsf/src/
!OS/crotsf/src/CRIRES_pol_obs_AutoNodOnSlit.tsfx
!OS/crotsf/src/CRIRES_pol_acq_NGS.tsfx
!OS/crotsf/src/CRIRES_spec_acq_NGS.tsfx
!OS/crotsf/include/
!OS/crotsf/include/crotsfINS_ROT*
!OS/crotsf/include/crotsfINS_OPTI1.tsfx
!OS/crotsf/include/crotsf*_POL*.tsfx

!OS/croseq/
!OS/croseq/src/
!OS/croseq/src/CRIRES_pol_obs_AutoNodOnSlit.seq
!OS/croseq/src/CRIRES_spec_acq.seq
!OS/crotsf/include/crotsfSEQ_POLNODTHROW.tsfx
